@{
    ViewData["Title"] = "Confirmation delete contact";
}

<div class="text-center">
    <h3>Do you really want to delete the contact (João Vitor)?</h3>
</div>

<a class="btn btn-primary btn-block" role="button">Confirm delete</a>
<a class="btn btn-danger btn-block" role="button">Cancel delete</a>
